{% extends "counter_admin/base.html" %}
{% block title %}Borrow{% endblock %}
{% block nav2 %}id="current"{% endblock %}
{% block content %}
	{% if bookId > 0 and not overtime_list %}
		<p style='color:red'>{{ query }}刚刚借了一本编号为{{ bookId }}的书籍</p>
	{% endif %}

    {% if bookId > 0 and overtime_list %}
		{% for booki in overtime_list  %}
			<p style='color:red'>请{{ query }}首先归还<a href='/normal-user/book/{{booki.book.isbn}}'>《{{ booki.book.title }}》</a></p>
        {% endfor %}
	{% endif %}
        
<form action='' method='get' class="center borrow">
	<div><h4>请输入借书用户名和书籍ID</h4></div>
	<div>
	<p>用户名:</p>
	<span class='query'>
        {{ form.query.errors }}
        {{ form.query }}
	</span>
		<p>书籍ID:</p>
		<span class='bookId'>
			{{ form.bookId.errors }}
			{{ form.bookId }}
		</span>
	</div>
	<div class="no-border">
    <input type='submit' value='借出' class="button">
	</div>
</form>
<div style="padding-top:30px;"></div>
{% endblock %}