{% extends "counter_admin/base.html" %}
{% block title %}Borrow{% endblock %}
{% block nav2 %}id="current"{% endblock %}
{% block content %}
	{% if bookId > 0 and time_ <= 0 %}
		<p style='color:red'>{{ query }} have borrowed a book whose id is {{ bookId }}</p>
	{% endif %}

    {% if bookId > 0 and time_ > 0 %}
		{% for booklala in overtime_list  %}
			<p style='color:red'>You need to return Book No. {{ booklala }} First </p>
        {% endfor %}
	{% endif %}
        
<form action='' method='get'>
	<p>User Name</p>
	<span class='query'>
        {{ form.query.errors }}
        {{ form.query }}
	</span>
		<p>bookID</p>
		<span class='bookId'>
			{{ form.bookId.errors }}
			{{ form.bookId }}
		</span>
    <input type='submit' value='Borrow'>
</form>
{% endblock %}