<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Team-01" />
<meta name="description" content="a joking library system" />
<meta name="keywords" content="Team-01, library, SE, django" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />

<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
<title>{% block title %}欢迎使用图书馆系统--无限测试中{% endblock %}</title>
{% block head %}{% endblock %}
</head>

<body>
{% block body %}
{% endblock %}
</body>
</html>
