<!-- featured
============================================================================== -->

<div id="featured-wrap"><article id="featured" class="clearfix">
    <div class="image-block">
        <a title="" href="#"><img width="300" height="200" alt="featured" src="/static/img/img-featured.jpg" /></a>
    </div>

    <div class="text-block">
        <h2><a href="#">公告栏</a></h2>
        <p> 为庆祝南京大学建校110周年，计算机科学与技术系软件工程课程项目组Team01开发了这个图书馆管理系统LIMS，欢迎广大群众使用。详情见<a href='https://github.com/Bolsheviki/Team01-LIMS'>github.com/Bolsheviki/Team01-LIMS</a>
        </p>
        <p>
        您有可能属于该系统所服务的4类用户中的一类：
        <ul>
            <li><a href='/normal-user/'>普通用户</a></li>
            <li><a href='/counter-admin/'>柜台管理员</a></li>
            <li><a href='/book-admin/'>书籍管理员</a></li>
            <li><a href='/user-admin/'>用户管理员</a></li>
        </ul>
        </p>
    </div>

</article></div>

<!-- Content
============================================================================== -->

<div id="content-wrap-home">

    <!-- main -->
    <section id="main">

        <h3>近期最热</h3>

        <article class="col">

            <a href="/{{ app }}/book/{{ books.0.isbn }}" title=""><img width="240" height="100" alt="img" class="thumbnail" src="/static/img/thumb-1.jpg" /></a>

            <div class="content">
			    <p>
                {{ books.0.summary|truncatechars:250 }} 
				</p>

				<p><a href="/normal-user/book/{{ books.0.isbn }}" class="more">查看详细</a></p>

			</div>

        </article>

        <article class="col even">

            <a href="/{{ app }}/book/{{ books.1.isbn }}" title=""><img width="240" height="100" alt="img" class="thumbnail" src="/static/img/thumb-2.jpg" /></a>

            <div class="content">
			    <p>
                {{ books.1.summary|truncatewords:250 }} 
				</p>
				<p><a href="/normal-user/book/{{ books.1.isbn }}" class="more">查看详细</a></p>
			</div>
        </article>

        <article class="col even">

            <a href="/{{ app }}/book/{{ books.2.isbn }}" title=""><img width="240" height="100" alt="img" class="thumbnail" src="/static/img/thumb-3.jpg" /></a>

            <div class="content">
			    <p>
                {{ books.2.summary|truncatewords:250 }} 
				</p>
				<p><a href="/normal-user/{% if books.2 %}book/{{ books.2.isbn }}{% endif %}" class="more">查看详细</a></p>

			</div>
        </article>
    </section>
</div>
<div class="fix"></div>