
<form action='' method='get' class="center">
	<div><h3>书目检索</h3></div>
	<div class="no-border">
	<span class='scope'>
        {{ form.scope.errors }}
        {{ form.scope }}
	</span>
	<span class='query'>
        {{ form.query.errors }}
        {{ form.query }}
	</span>
    <input type='submit' value='Search' class="button">
	</div>
</form>

{% if not is_begin %}
    {% if book_list %}
        <p>Found {{ book_list|length }} book{{ book_list|pluralize }}.</p>
        <ul>
            {% for book in book_list %}
            <li><a href='/{{ app }}/book/{{ book.isbn }}/'>{{ book }}</a></li>
            {% endfor %}
        </ul>
        {% include 'pagenation.html' %}
    {% else %}
        <p>No books matched your search criteria.</p>
    {% endif %}
{% endif %}

