
<form action='' method='get' class="center">
	<div><h3>书目检索</h3></div>
	<div class="no-border">
	<span class='scope'>
        {{ form.scope.errors }}
        {{ form.scope }}
	</span>
	<span class='query'>
        {{ form.query.errors }}
        {{ form.query }}
	</span>
    <input type='submit' value='搜索' class="button">
	</div>
</form>

<div class="booklist">
{% if not is_begin %}
    {% if book_list %}
        <h4>找到 {{ book_list|length }} 本书{{ book_list|pluralize }}.</h4>
		<table>
			<thead>
			<tr><th width="20%">ISBN</th><th width="80%">书名</th></tr>
			</thead>
			<tbody>
			{% for book in book_list %}
			<tr><td>{{ book.isbn }}</td><td><a href='/{{ app }}/book/{{ book.isbn }}/'>{{ book }}</a></td></tr>
            {% endfor %}
			</tbody>
			{% if is_paginated %}
			<tfoot>
			<tr><td colspan="2">{% include 'pagenation.html' %}</td></tr>
			</tfoot>
			{% endif %}
		</table>
    {% else %}
        <h4>没有找到匹配的书籍。</h4>
    {% endif %}
{% endif %}
</div>
