<html>
<head>
	<style type='text/css'>
		.scope .query {
			float: left;
		}
	</style>
    <title>Search</title>
</head>
<body>
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
	
    <form action='/search/' method='post'>
		<span class='scope'>
            {{ form.scope.errors }}
            {{ form.scope }}
		</span>
		<span class='query'>
            {{ form.query.errors }}
            {{ form.query }}
		</span>
        <input type='submit' value='Search'>
    </form>
</body>
</html>

