{% extends "normal_user/base.html" %}
{% block title %}All Book{% endblock %}

{% block body %}

{% if tlist %}
	<p>Found {{ tlist|length }} book{{ tlist|pluralize }}.</p>
	<ul>
		{% for record in tlist %}
		<li><a href='/normal-user/book/{{ record.isbn }}/'>{{ record.name }}</a></li>
		<li>Time : {{ record.time }}</li>
		<li>State : {{ record.state }}</li>
		{% endfor %}
	</ul>
	{% include 'pagenation.html' %}
{% else %}
	<p>No books matched your search criteria.</p>
{% endif %}

{% endblock %}