{% extends "base.html" %}
{% block head %}
<h1>This User Admin.</h1>
<ul>
	<li><a href='/user-admin/search'>Search Users</a></li>
	<li><a href='/user-admin/add'>Add Users</a></li>
	<li><a href='/user-admin/remove'>Remove Users</a></li>
</ul>
{% block login_info %}
{% if request.user.is_authenticated %}
  <p align='right'>
  Welcome, {{ request.user.username }}. Thanks for logging in. 
  <a href='/user-admin/settings'>Settings</a>
  <a href='/user-admin/logout'>Logout</a>
  </p>
{% else %}
  <p align='right'>Please log in.</p>
{% endif %}
{% endblock %}
{% endblock %}
{% block body %}

{% endblock %}