{% extends "user_admin/base.html" %}
{% block title %}
User Information
{% endblock %}

{% block nav1 %}id="current"{% endblock %}
{% block content %}
{% if user %}
	{% if is_set %}
		<h4>用户信息修改成功！</h4>
	{% endif %}
	<script language="javascript">
		function remove_confirm()
		{
			if (confirm("确定要删除用户{{ user.username }}吗？"))
			{
				location.href = "/user-admin/rm-user/{{ user.username }}"
			}
		}
	</script>
	<form action='' method='post' class="center">
		<div><h4>修改用户信息：</h4></div>
		<div>
		<label for="id_password_first">{{ form.password_first.label }}:</label>{{ form.password_first }}{{ form.password_first.errors }}
		<label for="id_password_confirm">{{ form.password_confirm.label }}:</label>{{ form.password_confirm }}{{ form.password_confirm.errors }}
		<tr><th><label for="id_email">{{ form.email.label }}:</label>{{ form.email }}{{ form.email.errors }}
		<tr><th><label for="id_first_name">{{ form.first_name.label }}:</label></th><td>{{ form.first_name }}</td><td>{{ form.first_name.errors }}
		<tr><th><label for="id_last_name">{{ form.last_name.label }}:</label>{{ form.last_name }}{{ form.last_name.errors }}
		{% if is_normal_user %}
			<label for="id_level">{{ form.level.label }}:</label>{{ form.level }}{{ form.level.errors }}
			<label for="id_debt">{{ form.debt.label }}:</label>{{ form.debt }}{{ form.debt.errors }}
		{% endif %}
		</div>
		<div class="no-border">
		<input type='submit' value='修改用户信息' class="button"/>
		<input type='submit' value='删除该用户' class="button" onclick='remove_confirm()'/>
		</div>
	</form>
{% else %}
	<h4>用户不存在！</h4>
{% endif %}
<div style="padding-top:100px;"></div>
{% endblock %}