{% extends "user_admin/base.html" %}
{% block title %}Search Users{% endblock %}
{% block nav2 %}id="current"{% endblock %}
{% block content %}
<form action='' method='get'>
	<span class='scope'>
        {{ form.scope.errors }}
        {{ form.scope }}
	</span>
	<span class='query'>
        {{ form.query.errors }}
        {{ form.query }}
	</span>
    <input type='submit' value='Search'>
</form>

{% if show_result %}
	{% if user_list %}
		<p>Found {{ user_list|length }} user{{ user_list|pluralize }}.</p>
		<table>
			<th>Username</th><th>Email</th>
			{% for user in user_list %}
			<tr>
				<td><a href='/user-admin/user/{{ user.username }}'>{{ user.username }}</a></td>
				<td>{{ user.email }}</td>
			</tr>
			{% endfor %}
		</table>
		
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
						<a href="?scope={{ scope }}&query={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
						<a href="?scope={{ scope }}&query={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
		
	{% else %}
		<p>No users matched your search criteria.</p>
	{% endif %}
{% endif %}
{% endblock %}