{% extends "book_admin/base.html" %}
{% block title %}Audit{% endblock %}
{% block nav5 %}id="current"{% endblock %}
{% block content %}

<div class="audit">
<h3>
    共有图书册书: {{ total_books }}， 可借: {{ total_avaliable_now }}， 已借未还: {{ total_borrowing_now }}
</h3>
<img src='http://chart.apis.google.com/chart?cht=p3&chd=t:{{total_avaliable_now}},{{ total_borrowing_now }}&chs=300x100&chl=avaliable|borrowing'/>
<img src='http://chart.apis.google.com/chart?cht=lc&chs=500x150&chd=t:{% for s in borrow_statis %}{{ s.borrow_times }}{% if not forloop.last %},{% endif %}{% endfor %}&chxt=x,y&chxl=0:|{% for s in borrow_statis %}{{ s.month }}|{% endfor %}1:{% for d in divide %}|{{ d }}{% endfor %}'/>

<div style="padding: 15px"></div>
<h3>本月借阅榜</h3>
<table border='1'>
    <tr>
        <th>排名</th>
        <th>书名</th>
        <th>借阅次数</th>
    </tr>
    {% for borrow in top_borrows %}
        <tr>
            <td>{{ borrow.seq }}</td>
            <td><a href='/book-admin/book/{{ borrow.isbn }}'>{{ borrow.book }}</a></td>
            <td>{{ borrow.borrow_times }}</td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
